*.class

*.jar
*.war
*.ear
*.iml


.metadata
.classpath
.settings
.project
.flattened-pom.xml
.idea
.vscode
.env
.conf
.factorypath
.DS_Store

bin
target
cache
/log
workspace.code-workspace
zz

**/log/*